# requirements.txt
fastapi
uvicorn
langchain
langgraph
langchain-google-genai
pydantic
python-dotenv
pinecone          # <-- CHANGE THIS LINE
sentence-transformers
langchain_community # <-- ADD THIS LINE for HuggingFaceEmbeddings